
header, 

.saira {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: calc(1rem);
}


h1, h2, h3 {
  color:white;
}

body {
  background-color: #292929;
  margin: 1vw;
  display:flex; 
  flex-direction: column;
}



header {
  background-image: url(imgs/HeaderIMG.webp);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(0.5625*100vw);
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
}

#Title {
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: calc(1rem + 4vw);
}

.HeaderIcon1 {
  width: 3vw;
  height:fit-content;
  margin: 1%
}

.HeaderIcon2 {
  width: 6vw;
  height: fit-content;
}

main {
  background-color: #040406;
}

#Description{
    text-align: center;
    color:White;
}

#Explanation {
  color: white;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 8px;
}

#product-container {
  margin: 1vw;
  border: solid white 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.carIMG1 {
  height: 12vw;
}
/* De 2 första bilarna verkar vara ungefär samma storlek
3 och 5 verkar också vara ungefär samma storlek
4 och 6 är ungefär lika stora också, då de båda var lite större än alla andra  */
.carIMG2 {
  height: 12vw;
}

.carIMG3 {
  height: 9vw;
}


.Products {
  margin: 5%;
  height: 360px;
  background-color: #292929;
  border: solid white 1px;
  text-align: center;
  position:relative;
}

.ProductText{
  position: absolute; bottom:0; right: 50%;
  transform: translateX(50%);
  text-align: center;
}

.button{
  background-color: white;
  cursor: pointer;
  width: 3rem;
  height: 2rem;
}


@media (max-width: 1000px) and (min-width: 601px) {
  #product-container {
    grid-template-columns: 1fr 1fr;
  }
  .carIMG1 {
    height: 22vw;
  }
  .carIMG2 {
    height: 23vw;
  }
  .carIMG3 {
    height: 18vw;
  }
}

@media (max-width: 600px) {
  #product-container {
    grid-template-columns: 1fr;
  }
  .carIMG2, .carIMG3 {
    height: 30vw;
  }
  .carIMG1 {
    height: 35vw;
  }
}
footer {
  margin-top: 5vw;
  margin-bottom: 5vw;
  text-align: center;
  justify-content: space-between;
}

/* wdsad
background-position: bottom 100% right 0px;
Opacity

grid-x-start/end
